<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="R1SMConnection" connectionString="Data Source=.\SQLExpress;Initial Catalog=R1SM_Track;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>