<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="R1SMConnection" connectionString="Data Source=.;Initial Catalog=RSM_SharePoint;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>