<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>
  <connectionStrings>
    <add name="R1SMConnection"
        connectionString="Data Source=.;Initial Catalog=RSM_SharePoint;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
		<add key="ServiceId" value="3"/>
		<add key="ServiceName" value="R1SM.TrackExport"/>
		<add key="Description" value="Performs export operations for R1SM's Track integration."/>

		<add key="Task1" value="TrackExport"/>
	</appSettings>
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<!-- Aliases -->
		<alias alias="Track.Export.AccessHistory" type="RSM.Integration.Track.Export.AccessHistory, RSM.Integration.Track" />
		<alias alias="Track.Export.API" type="RSM.Integration.Track.API, RSM.Integration.Track" />

		<alias alias="ITask" type="RSM.Service.Library.Interfaces.ITask, RSM.Service.Library" />
		<alias alias="IAPI" type="RSM.Service.Library.Interfaces.IAPI, RSM.Service.Library" />

		<!-- Track Export Task -->
		<container name="TrackExport">
			<register type="ITask" mapTo="Track.Export.AccessHistory" />
			<register type="IAPI" mapTo="Track.Export.API" />
		</container>
	</unity>
</configuration>