<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>
	<connectionStrings>
		<add name="R1SMConnection"
			connectionString="Data Source=.\sqlexpress;Initial Catalog=R1SM_Track;Integrated Security=True"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="ServiceId" value="2"/>
		<add key="ServiceName" value="R1SM.S2Import"/>
		<add key="Description" value="Performs import operations for R1SM's S2 integration."/>

		<add key="WeblogPath" value="c:\logs"/>
	</appSettings>
	<!--<system.web>
		<webServices>
			<soapExtensionTypes>
				<add type="RSM.Integration.Track.TraceExtension, RSM.Integration.Track"
					 priority="1"
					 group="High" />
			</soapExtensionTypes>
		</webServices>
	</system.web>-->
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<!-- Aliases -->
		<alias alias="S2.Import.AccessHistory" type="RSM.Integration.S2.Import.AccessHistory, RSM.Integration.S2" />
		<alias alias="S2.Import.API" type="RSM.Integration.S2.API, RSM.Integration.S2" />
		
		<alias alias="S2.Import.AccessHistory.Wrapper" type="RSM.Service.Library.Tests.Import.S2ImportTaskWrapper, RSM.Service.Library.Tests" />
		<alias alias="S2.Import.API.STUB" type="RSM.Service.Library.Tests.Import.S2ImportAPIStub, RSM.Service.Library.Tests" />
		
		<alias alias="Track.Export.AccessHistory" type="RSM.Integration.Track.Export.AccessEvents, RSM.Integration.Track" />
		<alias alias="Track.Export.API" type="RSM.Integration.Track.API, RSM.Integration.Track" />
		<alias alias="Track.Export.API.STUB" type="RSM.Service.Library.Tests.Export.TrackExportAPIStub, RSM.Service.Library.Tests" />
		<alias alias="Track.Export.AccessHistory.Wrapper" type="RSM.Service.Library.Tests.Export.TrackExportWrapperStub, RSM.Service.Library.Tests" />
		

		<alias alias="ITask" type="RSM.Service.Library.Interfaces.ITask, RSM.Service.Library" />
		<alias alias="IAPI" type="RSM.Service.Library.Interfaces.IAPI, RSM.Service.Library" />
		
		<!-- S2 Import Task Tests -->
		<container name="S2Import">
			<register type="ITask" mapTo="S2.Import.AccessHistory" />
			<register type="IAPI" mapTo="S2.Import.API" />
		</container>

		<container name="S2ImportAccessAPIStub">
			<register type="ITask" mapTo="S2.Import.AccessHistory" />
			<register type="IAPI" mapTo="S2.Import.API.STUB" />
		</container>

		<container name="S2ImportAccessWrapper">
			<register type="ITask" mapTo="S2.Import.AccessHistory.Wrapper" />
			<register type="IAPI" mapTo="S2.Import.API.STUB" />
		</container>

		<!-- Track Export Task Tests -->
		<container name="TrackExport">
			<register type="ITask" mapTo="Track.Export.AccessHistory" />
			<register type="IAPI" mapTo="Track.Export.API" />
		</container>

		<container name="TrackExportTest">
			<register type="ITask" mapTo="Track.Export.AccessHistory" />
			<register type="IAPI" mapTo="Track.Export.API" />
		</container>

		<container name="TrackExportSTUB">
			<register type="ITask" mapTo="Track.Export.AccessHistory" />
			<register type="IAPI" mapTo="Track.Export.API.STUB" />
		</container>

		<container name="TrackAPITest">
			<register type="ITask" mapTo="Track.Export.AccessHistory.Wrapper" />
			<register type="IAPI" mapTo="Track.Export.API" />
		</container>

	</unity>

</configuration>