<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSM.Integration.Lubrizol.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RSM.Integration.Lubrizol.Properties.Settings.RSM_SharePointConnectionString"
            connectionString="Data Source=.;Initial Catalog=RSM_SharePoint;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <RSM.Integration.Lubrizol.Properties.Settings>
            <setting name="RSM_Integration_Lubrizol_Proxy_Copy" serializeAs="String">
                <value>http://cencle06:10807/_vti_bin/copy.asmx</value>
            </setting>
        </RSM.Integration.Lubrizol.Properties.Settings>
    </applicationSettings>
</configuration>