<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="R1SMConnection" connectionString="Data Source=(Local);Initial Catalog=RSM_SharePoint;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RSM.Support.Properties.Settings.RSMConnectionString"
            connectionString="Data Source=.;Initial Catalog=RSM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RSM.Support.Properties.Settings.MoogIDHConnectionString"
            connectionString="Data Source=.;Initial Catalog=MoogIDH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
