<?xml version="1.0"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding name="RestServiceBinding">
				</binding>
			</webHttpBinding>
		</bindings>
		<services>
			<service name="RSM.Integration.S2.Stub.RestService">
				<endpoint address="" behaviorConfiguration="web" contract="RSM.Integration.S2.Stub.IRestService"
				 binding="webHttpBinding" bindingConfiguration="RestServiceBinding" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<system.diagnostics>
		<switches>
			<add name="msgSwitch" value="Verbose"/>
		</switches>
		<sharedListeners>
			<add name="S2.Stub.Log" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\inetpub\logs\S2.Stub.log" traceOutputOptions="DateTime" />
		</sharedListeners>
		<sources>
			<source name="Messages" switchName="msgSwitch">
				<listeners>
					<add name="S2.Stub.Log" />
				</listeners>
			</source>
		</sources>
		<trace autoflush="true">
			<listeners>
				<add name="S2.Stub.Log" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
